
<div *ngIf="valid==1" >
  <div *ngFor="let i of ordersNo">
  <p>order Number: {{i.OrderID}}</p>
  <table class="table">
    <thead>
      <tr class="d-flex row">
        <th class="col-2">ProductID</th>
        <th class="col-2">UnitPrice</th>
        <th class="col-2">Quantity</th>
        <th class="col-2">Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let j of ordersInfo[i.OrderID]" class="d-flex row">
        <td class="col-2">{{j.ProductID}}</td>
        <td class="col-2">{{j.UnitPrice}}</td>
        <td class="col-2">{{j.Quantity}}</td>
        <td class="col-2">{{j.Discount}}</td>

      </tr>
    </tbody>
  </table>
</div>
</div>